aniso8601==6.0.0
Django==2.2.13
django-extensions==2.1.9
graphene==2.1.6
graphene-django==2.3.2
graphql-core==2.2
graphql-relay==0.4.5
gunicorn==19.9.0
promise==2.2.1
pytz==2019.1
Rx==1.6.1
singledispatch==3.4.0.3
six==1.12.0
whitenoise==4.1.2
