{% extends 'qa/base_visitor.html' %}
{% block title %}Register{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}
<section id="register">
<div class="container-fluid" style="margin-left: 350px;">
    <div class="container fill-viewport">

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                </br>
                </br>

                </br>

                    <h3>Register for an Account</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'qa/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer" style="color: white">
                    Already have an account? <a href="{% url 'qa:login' %}" style="color: #a0afe5">Click here</a> to log in.
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>
{% endblock %}

